{%load staticfiles %}

<html>
<head>
  <title>{% block head_title %}Try Django 1.9{% endblock head_title %}</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >

  <link rel='stylesheet' href='{% static "css/base.css" %}' />
<style>
{%block style%}{%endblock style%}
</style>
{%block head_extra%}{%endblock head_extra%}
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>


{%include "messages_display.html"%}
<div class='container'>
  <ol class='breadcrumb'>
    <li><a href='{%url "posts:list" %}'>Home</a></li>
    {%block post_detail_link%}
    {%endblock%}

    {%if not request.user.is_authenticated%}
    <li class='pull-right'><a href='{% url "register" %}'>Register</a></li>
      <li class='pull-right'><a href='{% url "login" %}'>Login</a></li>
      {% else %}
      <li class='pull-right'><a href='{% url "logout" %}'>Logout</a></li>
      {% endif %}
  </ol>
{%block content%}{%endblock content%}
</div>


<script
  src="http://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.17/marked.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $(".content-markdown").each(function(){
      var content = $(this).text()
      var markedContent = marked(content)
      $(this).html(markedContent)
    })
    $(".post-detail-item img").each(function(){
      $(this).addClass("img-responsive");
    })
    var titleItem = $("#id_title");
    $("#preview-title").text(titleItem.val())

    var contentInput = $("#id_content");

    function setContent(value){
      var markedContent = marked(value)
        $("#preview-content").html(markedContent)
        $("#preview-content img").each(function(){
          $(this).addClass("img-responsive")
        })
    }
    setContent(contentInput.val())

    contentInput.keyup(function(){
      var newContent = $(this).val()
      setContent(newContent)
    })
    var titleInput = $("#id_title")

    function setTitle(value){
      $("#preview-title").text(value)
    }
    setTitle(titleInput.val())
    titleInput.keyup(function(){
      var newContent = $(this).val()
      setTitle(newContent)
    })
  })
</script>

</body>
</html>
