{%extends "base.html"%}
{% load urlify%}
{% load crispy_forms_tags %}


{%block head_title%}
{{instance.title}} | {{block.super}}
{%endblock head_title%}


{%block post_detail_link%}
  <li><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a></li>
{%endblock%}

{%block content%}
<div class='col-sm-6 col-sm-offset-3'>
  {%if instance.image%}
  <img src="{{ instance.image.url }}" class='img-responsive'/>
  {%endif%}
<h1>{{title}} <small>{%if instance.draft%}<span style='color:red;'>Draft </span>{%endif%}{{instance.publish}}</small></h1>

<p>Read time: {% if instance.read_time <= 1 %} < 1 Minute {% else %}{{ instance.read_time }} minutes {% endif %}</p>
{% if instance.user.get_full_name %}
  <p>Author: {{instance.user.get_full_name }}</p>
{%endif%}


<p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
<hr/>
</p>

<!-- <p>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a>
<a href="https://twitter.com/home?status={{ object.content|truncatechars:80|urlify }}%20{{ request.build_absolute_uri }}">
Twitter
</a>
<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>
<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ object.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
Linkedin
</a>
<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">Reddit</a>
</p> -->
<div class='row'>
<div class='col-sm-12'>

  <div class='post-detail-item'>{{ instance.get_markdown }}</div>

<hr/>
<br/>
<div>

    <p class='lead'>Comments</p>
    {% if request.user.is_authenticated %}
    <form method="POST" action="."> {% csrf_token %}
        {{ comment_form|crispy }}
        <input type='submit' value='Post comment' class='btn btn-default'>
    </form>
    {% else %}
    <p>You must login to comment </p>
    {% endif %}
    <hr/>
    {% for comment in comments %}

    <blockquote>
      <p>{{ comment.content }}</p>
      <footer>via {{ comment.user }} | {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %} <a class='comment-reply-btn' href='#'>Reply</a> | <a class='' href='{{ comment.get_absolute_url }}'>Thread</a></footer>
      <div class='comment-reply'>
          {% for child_comment in comment.children %}
            <blockquote>
            <p>{{ child_comment.content }}</p>
            <footer>via {{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago</footer>
            </blockquote>
         {% endfor %}
         {% if request.user.is_authenticated %}
        <form method="POST" action="."> {% csrf_token %}
            {{ comment_form|crispy }}
            <input type='hidden' name='parent_id' value='{{ comment.id }}'>
            <input type='submit' value='Reply' class='btn btn-default'>
        </form>
        {% else %}
    <p>You must login to comment </p>
    {% endif %}
    </div>

    </blockquote>

    <hr/>
    {% endfor %}
</div>




</div>
</div>
</div>

{%endblock content%}
